body {
  text-align: center;
}
.header {
  background: url("../images/the-flatiron-building.png");
  background-size: cover;
  background-position: center;
  font: Helvetica;
  color: white;
}
h1 {
  font-size: 70px;
  font-weight: bold;
}
a {
  font-size: 18px;
  color: white;
}
